.mySwiper {
  width: 100%;
  border-radius: 10px;
}

.parent-slider {
  position: relative;
}

.parent-slider img {
  width: 100%;
  height: 550px;
  object-fit: cover;
  display: block;
  border-radius: 10px;
}

.swiper-pagination-bullet-active {
  background: #d23f57;
}

@media (max-width: 900px) {
  .parent-slider img {
    height: 400px;
  }
}

@media (max-width: 600px) {
  .parent-slider img {
    height: 250px;
  }
}